// 1. Input & gestures
input {
    touchpad { tap; dwt; natural-scroll; accel-speed 0.3; }
    mouse { accel-speed 0.2; }
    workspace-auto-back-and-forth
    focus-follows-mouse max-scroll-amount="0%"
}


gestures {
	hot-corners {
		off
	}
}

// 2. Layout
layout {
    gaps 10
    background-color "#000000"
    center-focused-column "never"

    border {
        width 2
        active-color "#cba6f7"
        inactive-color "#45475a"
    }

    shadow {
    	on
        draw-behind-window true
        softness 60
        spread 10
        offset x=24 y=24
        color "#0007"
    }
}

// 3. Animations
animations {
	horizontal-view-movement {
        spring damping-ratio=1.5 stiffness=800 epsilon=0.0001
    }

	workspace-switch {
        spring damping-ratio=1.5 stiffness=1000 epsilon=0.0001
    }

    overview-open-close {
    	duration-ms 300
    	curve "ease-out-expo"
	}
}


// 4. Workspaces
workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"
workspace "7"
workspace "8"
workspace "9"
workspace "0"

// 5. Window & layer rules
window-rule {
    match app-id="quickshell"
    geometry-corner-radius 20
    clip-to-geometry true
}

window-rule {
    match title="^(file_progress|confirm|dialog|download|notification|error|splash|.*Save As.*|.*Open File.*|.*Select Folder.*)$"
    open-floating true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule { 
    match app-id="thorium-browser$"
    open-on-workspace "1" 
}

window-rule { 
    match title="helix" 
    open-on-workspace "2" 
}

window-rule { 
    match app-id="thunar$" 
    open-on-workspace "6" 
}

window-rule { 
    match app-id="steam$" 
    open-on-workspace "7" 
}

// 6. Key bindings
binds {
    Mod+Return { spawn "foot"; }
    Mod+B      { spawn "thorium-browser"; }
    Mod+E      { spawn "thunar"; }
    Mod+Q      {close-window;}

    Mod+H        { focus-column-left; }
    Mod+Ctrl+H   { move-column-left; }
    Mod+J        { focus-window-down; }
    Mod+Ctrl+J   { move-window-down; }
    Mod+K        { focus-window-up; }
    Mod+Ctrl+K   { move-window-up; }
    Mod+L        { focus-column-right; }
    Mod+Ctrl+L   { move-column-right; }

    Mod+Home             { focus-column-first; }
    Mod+End              { focus-column-last; }
    Mod+Ctrl+Home        { move-column-to-first; }
    Mod+Ctrl+End         { move-column-to-last; }
    Mod+Shift+H          { set-column-width "-10%"; }
    Mod+Shift+L          { set-column-width "+10%"; }
    Mod+Shift+J          { set-window-height "+10%"; }
    Mod+Shift+K          { set-window-height "-10%"; }
    Mod+BracketLeft      { consume-or-expel-window-left; }
    Mod+BracketRight     { consume-or-expel-window-right; }
    Mod+Comma            { consume-window-into-column; }
    Mod+Period           { expel-window-from-column; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }


    Mod+Shift+1 { move-column-to-workspace 1 focus=false; }
    Mod+Shift+2 { move-column-to-workspace 2 focus=false; }
    Mod+Shift+3 { move-column-to-workspace 3 focus=false; }
    Mod+Shift+4 { move-column-to-workspace 4 focus=false; }
    Mod+Shift+5 { move-column-to-workspace 5 focus=false; }
    Mod+Shift+6 { move-column-to-workspace 6 focus=false; }
    Mod+Shift+7 { move-column-to-workspace 7 focus=false; }
    Mod+Shift+8 { move-column-to-workspace 8 focus=false; }
    Mod+Shift+9 { move-column-to-workspace 9 focus=false; }
    Mod+Shift+0 { move-column-to-workspace 10 focus=false; }

    Mod+Space    { spawn "sh" "-c" "qs ipc call globalIPC toggleLauncher"; }
}

// 7. Autostart
environment {
    DISPLAY ":0"
}

spawn-at-startup "xwayland-satellite"
spawn-at-startup "qs"

// 8. Misc
prefer-no-csd

screenshot-path "$HOME/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 16
    hide-when-typing
}